@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');


$master-font: 'Montserrat', sans-serif;
$secondary-font: 'Aldrich', sans-serif;

// $bg-image: url('../assets/images/background.jpeg');
$mainBgColor: rgb(233, 235, 238);
